<!DOCTYPE html>
<html>
<head>
  <title>GuardMinitestIssue114</title>
  <%= stylesheet_link_tag    "guard_minitest_issue114/application", media: "all" %>
  <%= javascript_include_tag "guard_minitest_issue114/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
